"UUID","Created","CreatedBy","Modified","ModifiedBy","Title","Name","PostalCode","Address","Empty","Note","PrintType","StatusPerm","StatusNext"
"00000000-0000-0000-0000-000000000001","1/1/2020","Admin","1/1/2020","Admin","Mr.","Sample Name","100-0001","Tokyo, Japan","","Sample note","Label J","Yes","No"
